# Ignore compiled Java files
target/
*.class

# Ignore Maven-related files
.mvn/
pom.xml.tag
pom.xml.releaseBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.m2/

# Ignore Terraform state files (important for security)
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform/
terraform/.terraform.lock.hcl

# Ignore AWS CLI credentials (never push credentials!)
.aws/

# Ignore IDE-specific files
.idea/
.vscode/
*.iml

# Ignore logs and temporary files
logs/
*.log
*.tmp

# Ignore Jenkins workspace (if applicable)
workspace/
